<div class="solution solution-{{ activity.type }}" data-type="{{ activity.type }}">

    {% for qindex, question in activity.questions  %}
        {% for rindex, response in activity.responses %}
        
            {% set qid = 'a-'~activity.id ~ '_' ~ qindex %}
        
            {% if activity.heading.text %}
                <h5 id="{{ qid }}_{{ rindex }}">{{ activity.heading.text }}</h5>
            {% else %}    
                <h5 id="{{ qid }}_{{ rindex }}">Actividad {{ activity.id }}</h5>
            {% endif %}

            <h6>{{ activity.subheading.text}}</h6>
            
            <h6 class="question">{{ qindex+1 }}. {{ question }}</h6>
            <p class="response">&raquo; {{ response }}</p>
            
            {% if activity.solutions[qindex] == rindex %}
                <span class="image"><img src="images/res_ok.jpg"/></span>
                <span class="answer answer-ok">¡¡Respuesta correcta!!</span>
                
                {% if activity.explanations[qindex]|default('') %}
                    <p>{{ activity.explanations[qindex] }}</p>
                {% endif %}            
                
            {% else %}
                <span class="image"><img src="images/res_nook.jpg"/></span>
                <span class="answer answer-error">Respuesta incorrecta</span>
            {% endif %}
            
            <p><a href="#{{ qid }}">
                <span class="image"><img src="btn_volver.jpg" /></span>
            </a></p>

            <div class="page-break" ></div>
        {% endfor %}
    {% endfor %}
</div>    
