{# toc.twig
 # - with nested <ul> tags.
 # - for Bootstrap 3.
 #}
{% import _self as helper %}

{% macro tocItem(level, item, entry) %}
{% spaceless %}
    {% set level = level ? level : 1 %}
    {% set hash = entry ? '#' ~ (level == 1 ? item.slug : entry.slug ) : '' %}
    <a href="{{ hash }}">
    {% if entry %}
        {{ entry.label ? ('<span>'~entry.label~'</span> - ') : '' }} {{ entry.title }}
    {% else %}
        {{ item.title }}
    {% endif %}
    </a>
{% endspaceless %}
{% endmacro %}

{% macro tocItemStart(level, item) %}
{% spaceless %}
    {#<li class="{{ item.config.element }} level-{{ level }}"> <!-- level {{ level }} -->#}
    <li> <!-- level {{ level }} -->
{% endspaceless %}
{% endmacro %}

{% macro tocItemEnd(level) %}
{% spaceless %}
    </li> <!-- level {{ level }} -->
{% endspaceless %}
{% endmacro %}

{% macro subItemStart(level) %}
{% spaceless %}
    <ul class="nav"> <!-- level {{ level }} -->
{% endspaceless %}
{% endmacro %}

{% macro subItemEnd(level) %}
{% spaceless %}
    </ul> <!-- level {{ level }} -->
{% endspaceless %}
{% endmacro %}

<div class="sidebar" data-spy="affix" data-offset-top="350" data-offset-bottom="200">

    <ul class="nav sidenav">
        
    {% set hasParts = false %}
    {% set partStarted = false %}

    {% for item in app['publishing.items'] %}
        {# editions define the *tocable* items #}
        {% if item.config.element in edition.toc.elements|default([]) %}

            {# item has several elements in its toc #}
            {% if item.toc|length > 0 %}

                {% set currentLevel = 0 %}

                {% if item.config.element == 'chapter' and hasParts %}
                    {% set currentLevel = 1 %}
                {% endif %}

                {% set minLevel = 1 %}

                {% if item.config.element == 'part' %}
                    {% set hasParts = true %}
                    {% if partStarted %}
                        {{ helper.tocItemEnd('before part') }}
                    {% endif %}
                    {% set partStarted = true %}
                {% elseif item.config.element != 'chapter' and partStarted %}
                    {{ helper.tocItemtEnd('end part') }}
                    {% set partStarted = false %}
                {% endif %}

                {% set openLevels = '' %}
                {% for entry in item.toc %}

                    {% set level = entry.level %}
                    {% set maxDeep = edition.toc.deep %}

                    {% if item.config.element == 'chapter' and hasParts %}
                        {% set level = entry.level + 1 %}
                        {% set minLevel = 2 %}
                    {% endif %}

                    {% if level <= maxDeep %}

                        {% if level > currentLevel %}
                            {% if level == currentLevel+1 %}
                                {% set openLevels = (level not in openLevels) ? (level ~ openLevels) : openLevels %}
                                {% set playOrder = playOrder + 1 %}
                                {% if level > 1 %}
                                    {{ helper.subItemStart(level) }}
                                {% endif %}
                                {{ helper.tocItemStart(level, item) }}
                                {{ helper.tocItem(level, item, entry) }}
                            {% else %}
                                {% set level = currentLevel %}
                            {% endif %}
                        {% elseif level < currentLevel %}
                            {{ helper.tocItemEnd(currentLevel) }}
                            {% for ol in openLevels|split('') %}
                                {% if ol > level %}
                                    {% if ol > 1 %}
                                        {{ helper.subItemEnd(ol) }}
                                    {% endif %}
                                    {% set openLevels = openLevels|replace({(ol):''}) %}
                                {% endif %}
                            {% endfor %}
                            {{ helper.tocItemStart(level, item) }}
                            {{ helper.tocItem(level, item, entry) }}
                        {% else %}
                            {{ helper.tocItemEnd(level) }}
                            {{ helper.tocItemStart(level, item) }}
                            {{ helper.tocItem(level, item, entry) }}
                        {% endif %}

                        {% set currentLevel = level %}
                    {% endif %}

                {% endfor %}

                {% if item.config.element != 'part' and openLevels %}
                    {{ helper.tocItemEnd(currentLevel) }}
                    {% for ol in openLevels|split('') %}
                        {% if ol > 1 %}
                            {{ helper.subItemEnd(ol) }}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {# empty or special item (anything different from 'chapter' and 'appendix' #}
            {% else %}
                {{ helper.subItemStart(1) }}
                {{ helper.tocItemStart(1, item) }}
                {{ helper.tocItem(1, item, entry) }}
                {{ helper.tocItemEnd(1) }}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if partStarted %}
        {{ helper.subItemEnd('end part') }}
    {% endif %}

    </ul>
</div>
