<div class="title">
{% spaceless %}

    <h2>{{ book.title }}</h2>
    {% if book.series is defined %}
        <h3>Colección {{ book.series }}</h3>
    {% endif %}

    {% if book.author %}
        <h4>Autor:</h4>
        <p>&nbsp;&nbsp;{{ book.author }}</p>
    {% endif %}
    {% if book.authors is defined %}
        <h4>Autores:</h4>
        <p>
        {% for author in book.authors %}
            &nbsp;&nbsp;{{ author }}<br/>
        {% endfor %}
        </p>
    {% endif %}

    {% if book.reviewer %}
        <h4>Revisión técnica:</h4>
        <p>&nbsp;&nbsp;{{ book.reviewer }}</p>
    {% endif %}
    {% if book.reviewers is defined %}
        <h4>Revisión técnica:</h4>
        <p>
        {% for reviewer in book.reviewers %}
            &nbsp;&nbsp;{{ reviewer }}<br/>
        {% endfor %}
        </p>
    {% endif %}

    {% if book.editor %}
        <h4>Dirección editorial:</h4>
        <p>&nbsp;&nbsp;{{ book.editor }}</p>
    {% endif %}
    {% if book.editors is defined %}
        <h4>Dirección editorial:</h4>
        <p>
        {% for editor in book.editors %}
            &nbsp;&nbsp;{{ editor }}<br/>
        {% endfor %}
        </p>
    {% endif %}

    {% if book.designer %}
        <h4>Diseño y adaptación técnica:</h4>
        <p>&nbsp;&nbsp;{{ book.designer }}</p>
    {% endif %}
    {% if book.designers is defined %}
        <h4>Diseño y adaptación técnica:</h4>
        <p>
        {% for designer in book.designers %}
            &nbsp;&nbsp;{{ designer }}<br/>
        {% endfor %}
        </p>
    {% endif %}

{% endspaceless %}
</div>

<br />

![*](logo_ediciones2010-peq.png)

<br />

{% if edition.isbn %}
ISBN {{ edition.isbn }}

{% endif %}
{% if book.version %}
Versión {{ book.edition }}.{{ book.version }} - {{ book.publication_date|default('now')|date('YmdHi') }}
{% elseif book.edition %}
Edición {{ book.edition }} - {{ book.publication_date|default('now')|date('YmdHi') }}
{% else %}
{{ book.publication_date|default('now')|date('YmdHi') }}
{% endif %}

&copy; {{ "now"|date("Y") }} - {{ book.publisher }}

*Todos los derechos reservados.*

<div markdown="1" style="font-size: .8em">
* * *
Quedan rigurosamente prohibidas, sin la autorización escrita de los titulares del _copyright_,
bajo las sanciones establecidas en las leyes, la reproducción total o parcial de esta obra por
cualquier medio o procedimiento, comprendidos la reprografía y el tratamiento informático, y la
distribución de ejemplares de ella mediante alquiler o préstamo públicos, así como su exportación
e importación.
* * *
</div>

{% if book.usescc %}
<div markdown="1" style="font-size: .8em">
* * *
Algunos contenidos de este libro se utilizan bajo la licencia _Creative Commons_
[CC-BY-SA-3.0](http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES).
* * *
</div>
{% endif %}



