<!--
========================================
Activity: {{ activity.id }}
Type....: {{ activity.type }}
========================================
-->
{% if activity.pagebreak == true %}
<div class="page-break"></div>
{% endif %}
<div class="activity activity-{{ activity.type }}" data-type="{{ activity.type }}">

    {% set activity_heading_text = activity.heading.text ? activity.heading.text : 'Actividad ' ~ activity.id %}

    <h5 class="{{ activity.heading.class }}">{{ activity_heading_text }}</h5>

    {% if activity.subheading.text %}
        <h6 class="{{ activity.subheading.class }}">{{ activity.subheading.text }}</h6>
    {% else %}
        <h6 class="{{ activity.subheading.class }}">Contesta a la siguiente actividad pulsando sobre la opción correspondiente.</h6>
    {% endif %}

    {% if activity.introduction %}
        <div class="introduction">{{ activity.introduction }}</div>
    {#
    {% else %}
        <div class="introduction">Contesta a la siguiente actividad pulsando sobre la opción correspondiente.</div>
    #}
    {% endif %}

    {# start link #}
    {% set start= 'a-'~activity.id  ~ '_0'  %}
    <a href="#{{ start }}"><span class="image"><img src="btn_start.jpeg" class="button" width="80" height="30" alt="*"  /></span></a>
    <a href="#skip-a-{{ activity.id }}"><span class="image"><img src="btn_skip_activity.jpeg" class="button" width="120" height="30" alt="*"  /></span></a>

    <div class="page-break"></div>

{% for qindex, question in activity.questions  %}
    {% set qid = 'a-'~activity.id ~ '_' ~ qindex %}

    <h5 id="{{ qid }}" class="{{ activity.heading.class }}">{{ activity_heading_text }}</h5>

    {#
    {% if activity.introduction %}
        <div class="introduction">{{ activity.introduction }}</div>
    {% endif %}

    {% if activity.subheading.text %}
        <h6 class="{{ activity.subheading.class }}">{{ activity.subheading.text }}</h6>
    {% endif %}
    #}

    <h6 class="question"><span class="mobi">[</span><span class="number">{{ qindex+1 }}</span><span class="mobi">]</span> {{ question.text|default(question) }}</h6>

    <hr class="not-mobi"/><img class="mobi" src="images/sep_1_open.gif" alt="*"  />
    {% block responses %}
        <p>No responses defined</p>
    {% endblock %}
    <hr class="not-mobi"/><img class="mobi" src="images/sep_1_close.gif" alt="*"  />

    <div class="page-break"></div>
{% endfor %}
</div>

{# skip link target #}
<div id="skip-a-{{ activity.id }}"></div>
<hr class="not-mobi"/><img class="mobi" src="images/sep_1_open.gif" alt="*"  />
    <p>Fin de la actividad.</p>
<hr class="not-mobi"/><img class="mobi" src="images/sep_1_close.gif" alt="*"  />
<div class="page-break"></div>