{% extends 'layout.twig' %}

{% block body %}
<div class="item auto-glossary">
    <h1 class="title" id="{{ item.slug }}"><span>{{ item.label }}</span> {{ item.title }}</h1>

    {{ item.content }}

    {% if app.get('publishing.glossary.pagebreaks') %}
    <div class="page-break" ></div>
    {% endif %}

    {% for term, data in app.get('publishing.glossary.definitions') %}
        {% for aIndex, anchorLink in data.anchorLinks %}

        <div class="definition">
            <h5 id="auto-glossary-{{ data.slug }}-{{ aIndex }}">{{ item.title|default(item.toc[0].title|default('>>>')) }}</h5>

            <hr/>
            <h6>{{ data.variants.0 }}</h6>
            <hr/>

            <div class="description">{{ data.description }}</div>
        </div>
        <div class="backlink">
            <p><a href="#{{ anchorLink }}">[&#8617;]</a></p>
        </div>
        {% if app.get('publishing.glossary.pagebreaks') %}
        <div class="page-break" ></div>
        {% endif %}

        {% endfor %}
    {% endfor %}

</div>
{% endblock %}