<!--
========================================
Solution for:
Activity: {{ activity.id }}
Type....: {{ activity.type }}
========================================
-->
<div class="activity-solution activity-solution-{{ activity.type }}" data-type="{{ activity.type }}">

{% for qindex, question in activity.questions  %}

    {# take responses from the question (i.e. abc) or from the activity (i.e. ynb) #}
    {% set responses = question.responses|default(activity.responses) %}

    {% for rindex, response in responses %}

        {# this question id #}
        {% set qid = 'a-'~activity.id ~ '_' ~ qindex %}

        {# mext question id #}
        {% set nextqid = null %}
        {% if activity.questions[qindex+1]|default(null) %}
            {% set nextqid = 'a-'~activity.id ~ '_' ~ (qindex+1) %}
        {% endif %}

        {# the heading #}
        <h5 id="{{ qid }}_{{ rindex }}">{{ activity.heading.text }}</h5>

        {# the question text and response #}
        <h6 class="question"><span class="mobi">[</span><span class="number">{{ qindex+1 }}</span><span class="mobi">]</span> {{ question.text|default(question) }}</h6>

        <hr class="not-mobi"/><img class="mobi" src="images/sep_1_open.gif" alt="*"  />
            <p class="response">&raquo; {{ response }}</p>
        <hr class="not-mobi"/><img class="mobi" src="images/sep_1_close.gif" alt="*"  />
            {# success or error #}
            {% block result %}
            {% endblock %}

            {# retrieve success value set by result block #}
            {% set success = block('success') %}
        <hr class="not-mobi"/><img class="mobi" src="images/sep_1_close.gif" alt="*"  />

        {# next and return buttons after the response#}
        <p>
            <a href="#{{ qid }}">
                <span class="image"><img src="btn_back.jpeg" class="button" width="80" height="30" alt="*"  /></span>
            </a>
            {% if success %}
                {% if nextqid %}
                    <a href="#{{ nextqid }}">
                        <span class="image"><img src="btn_next.jpeg" class="button" width="80" height="30" alt="*"  /></span>
                    </a>
                {% else %}
                    <a href="#skip-a-{{ activity.id }}"><span class="image"><img src="btn_finish.jpeg" class="button" width="80" height="30" alt="*"  /></span></a>
                {% endif %}
            {% endif %}
        </p>
        <div class="page-break" ></div>

        {# second page break
         # just in case viewer is in two-pages mode
         #}
        <hr/>
        <p><span style="font-size: 3em; font-weight: bold;vertical-align: middle;">&larr;</span>
            Pulsa para continuar.</p>
        <hr/>
        <div class="page-break" ></div>
    {% endfor %}
{% endfor %}

</div>
