{% for term, data in definitions %}
    {% for aIndex, anchorLink in data.anchorLinks %}

    <div class="definition">
        <h5 id="auto-glossary-{{ data.slug }}-{{ aIndex }}">{{ item.title|default(item.toc[0].title|default('>>>')) }}</h5>

        <p class="mobi"></p>
        <img class="mobi" src="images/sep_1_open.gif" alt="*"  />
        <h6><span class="mobi">&nbsp;</span>{{ data.variants.0 }}</h6>
        <img class="mobi" src="images/sep_1_close.gif" alt="*"  />

        <div class="description">{{ data.description }}</div>
    </div>
    <div class="backlink">
        <p><a href="#{{ anchorLink }}">
            <span class="image"><img src="btn_back.jpeg" class="button" width="80" height="30" alt="*"  /></span>
        </a></p>
    </div>
    <div class="page-break" ></div>

    {# second page break
     # just in case viewer is in two-pages mode
     #}
    <hr/>
    <p><span style="font-size: 3em; font-weight: bold;vertical-align: middle;">&larr;</span>
        Pulsa para continuar.</p>
    <hr/>
    <div class="page-break" ></div>
    {% endfor %}
{% endfor %}
