<div class="title">
{% spaceless %}

    <h2>{{ book.title }}</h2>
    {% if book.series is defined %}
        <h3>Colección {{ book.series }}</h3>
    {% endif %}

    {% if book.author %}
        <h4>Autor:</h4>
        <p>&nbsp;&nbsp;{{ book.author }}</p>
    {% endif %}

    {% if book.authors is defined %}
        <h4>Autores:</h4>
        {% for author in book.authors %}
            <p>&nbsp;&nbsp;{{ author }}</p>
        {% endfor %}
    {% endif %}

    {% if book.reviewer is defined %}
    <h4>Revisión técnica:</h4>
        {% if book.reviewer is iterable %}
            {% for reviewer in book.reviewer %}
                <p>&nbsp;&nbsp;{{ reviewer }}</p>
            {% endfor %}
        {% else %}
            <p>&nbsp;&nbsp;{{ book.reviewer }}</p>
        {% endif %}
    {% endif %}

{% endspaceless %}
</div>

<br />

![*](logo_ediciones2010-peq.png)

<br />

{% if edition.isbn %}
ISBN {{ edition.isbn }}
{% endif %}
{% if book.version %}
Versión {{ book.edition }}.{{ book.version }} - {{ book.publication_date|default('now')|date('YmdHi') }}
{% elseif book.edition %}
Edición {{ book.edition }} - {{ book.publication_date|default('now')|date('YmdHi') }}
{% else %}
{{ book.publication_date|default('now')|date('YmdHi') }}
{% endif %}

&copy; {{ "now"|date("Y") }} - Ediciones 2010

*Todos los derechos reservados*

