<div class="item auto-glossary">
    <h1 id="{{ item.slug }}"><span>{{ item.label }}</span> {{ item.title|default(item.toc[0].title|default('Glossary')) }}</h1>

    {{ item.content }}

    <hr />

    {% for term, data in app['publishing.glossary.definitions'] %}
        {% for aIndex, anchorLink in data.anchorLinks %}

        <div class="definition" id="auto-glossary-{{ data.slug }}-{{ aIndex }}">
            <dl>
                <dt class="definition">{{ data.variants.0 }}</dt>
                <dd class="description">{{ data.description }}&#160;<a class="backlink" href="#auto-glossary-term-{{ anchorLink }}">[&#8617;]</a>
                </dd>
            </dl>

        </div>

        {% endfor %}
    {% endfor %}

</div>
