{# ImageExtraPlugin
 # Extract class assigned to 'img' tag and apply it to 'image' or 'figure' div
 #}
{% set parts = item.content | split('class=') %}
{% set parts = parts[1] | split('"') %}
{% set class = parts[1]|replace('"', '') %}
{% if item.caption == '*' %}
    {% if item.align %}
<div class="image{{ item.align ? ' '~item.align : '' }} {{ class }}">
    {{ item.content|replace( {'alt="*"': 'alt="" '} ) }}
</div>
    {% else %}
<span class="image {{ class }}">
    {{ item.content|replace( {'alt="*"': 'alt="" '} ) }}
</span>
    {% endif %}
{% else %}
{% set class = (class ~ item.align) ? class : 'default' %}
<div class="figure{{ item.align ? ' '~item.align : '' }} {{ class }}" id="{{ item.slug }}">
<div class="box">
    {{ item.content }}

{% if item.caption != '' %}
    <p class="caption"><strong>{{ item.label }}</strong> {{ item.caption }}</p>
{% else %}
    <p class="caption"><strong>{{ item.label|replace({' -':''}) }}</strong></p>
{% endif %}
</div>
</div>
{% endif %}
