<!doctype html>
<html lang="{{ book.language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="{{ book.author }}"/>
    <meta name="date" content="{{ book.publication_date|default('now')|date(app.getLabel('date_format')) }}"/>
    <meta name="generator" content="{{ book.generator.name }} {{ book.generator.version }}"/>

    <title>{{ book.title }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    {% if edition.include_styles %}
        <link rel="stylesheet" href="css/easybook.css"/>
    {% endif %}

    {% if has_custom_css|default(false) %}
        <link rel="stylesheet" href="css/styles.css"/>
    {% endif %}
</head>

<body data-spy="scroll" data-target=".sidebar">
<div class="container">

    {% include 'navbar.twig' %}

    <div class="row">
        <div class="col-md-12">
            {% include 'cover.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% include 'toc.twig' %}
        </div>

        <div class="col-md-9">
            {% for item in items if item.config.element not in ['cover', 'toc'] %}
                {{ item.content }}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    /* initialize optional Bootstrap components */
    $(document).ready(function (){
        $('[data-toggle=tooltip]').tooltip();
    });
</script>

</body>
</html>
