<!--
========================================
Questionnaire: {{ questionnaire.id }}
========================================
-->
<div class="panel panel-primary questions">

    {% set questionnaire_heading_text = questionnaire.heading ? questionnaire.heading : 'Questionnaire ' ~ questionnaire.id %}

    <div class="panel-heading">
        <h5 class="panel-title">{{ questionnaire_heading_text }}</h5>
    
        {% if questionnaire.subheading %}
            <h6>{{ questionnaire.subheading }}</h6>
        {% else %}
            <h6>Find the answer to the following questions, then look at the solution.</h6>
        {% endif %}
    
        {% if questionnaire.introduction %}
            <div class="introduction">{{ questionnaire.introduction }}</div>
        {% endif %}
    </div>

    <div class="panel-body">
    {% for qindex, question in questionnaire.questions %}
        {% set qid = 'q-'~questionnaire.id ~ '_' ~ qindex %}

        <div class="panel panel-success">
            <div class="panel-heading">
                <h6 class="question"><span class="label label-default number">{{ qindex+1 }}</span></h6>
                <div class="question">{{ question.text }}</div>
            </div>
            <div class="panel-body">
                {% if question.solution %}
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#{{ qid }}-solution-resp">
                        View solution
                    </button>

                    <div class="modal fade bs-modal-s" id="{{ qid }}-solution-resp" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{{ question.heading }}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ question.solution }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% else %}
                    <p class="response">Ask your teacher to provide the solution.</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
