{% extends 'item.twig' %}

{% block content %}
    <ul>
        {% for item in app.get('publishing.list.tables') %}
            {% if item|length > 0 %}
                {% for entry in item %}
                    {% if entry.item.caption is empty %}
                        <li><a href="#{{ entry.item.slug }}">
                                <span>{{ app.getLabel('table', entry) }}</span>
                            </a></li>
                    {% else %}
                        <li>
                            <a href="#{{ entry.item.slug }}">
                                {% if entry.item.label is empty %}
                                    {{ entry.item.caption }}
                                {% else %}
                                    <span>{{ entry.item.label }}</span>- {{ entry.item.caption }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
