{% extends '@theme/item.twig' %}

{% block content %}
    {{ item.content }}

    {% set initial = "" %}
    {% set group = "" %}
    {% for term, data in app.get('publishing.index.definitions') %}
        {% if data.anchorLinks|length > 0 %}
            {% if data.group|first|upper != initial %}
                {% set initial = data.group|first|upper %}
                <h5>{{ initial }}</h5>
            {% endif %}

            <div class="links">
                {% set hasEntries = (data.text != data.group) %}
                {% if data.group != group %}
                    <span class="group {{ hasEntries ? "with-entries" : "" }}">{{ data.group }}</span>
                {% endif %}
                {% set group = data.group %}

                {% if data.text != group %}
                    <span class="entry">{{ data.text }}</span>
                {% endif %}

                <span class="backlinks">
                {% for reference in data.anchorLinks %}
                    <a class="backlink" href="#auto-index-term-{{ reference }}">{# content added by javascript #}</a>
                {% endfor %}
                </span>
                {#<div class="debug-backlinks">#}
                {#{% for reference in data.anchorLinks %}#}
                    {#<a class="backlink" href="#auto-index-term-{{ reference }}">#}{# content added by javascript #}{#</a>#}
                {#{% endfor %}#}
                {#</div>#}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}