{% if item.caption == '*' %}
    {% if item.align %}
<div class="image{{ item.align ? ' '~item.align : '' }}">
    {{ item.content|replace( {'alt="*"': 'alt="" '} ) }}
</div>
    {% else %}
<span class="image">
    {{ item.content|replace( {'alt="*"': 'alt="" '} ) }}
</span>
    {% endif %}
{% else %}
{% set class=item.content|split('class="')[1]|split('"')[0]|default('') %}
<div class="figure{{ item.align ? ' '~item.align : '' }}" id="{{ item.slug }}">
  <div class="box {{class}}">
{% if item.caption != '' %}
    <p class="caption"><strong>{{ item.label }}</strong> {{ item.caption|trim('.') }}</p>
{% else %}
    <p class="caption"><strong>{{ item.label|replace({' -':''}) }}</strong></p>
{% endif %}

    {{ item.content }}
  </div>
</div>
{% endif %}
