<div class="item title">

{% spaceless %}

    <img src="images/separador-1.png">

    <div class="box">
      <h2>{{ book.title_display|default(book.title) }}</h2>
      {% if book.subtitle is defined %}
          <h3>{{ book.subtitle }}</h3>
      {% endif %}
      {% if book.series is defined %}
          <h4>Colección {{ book.series }}</h4>
      {% endif %}
      
      <br/>

      {% if book.author %}
          <p{{ book.author_display|default(book.author) }}</p>
      {% endif %}
      {% if book.authors is iterable %}
          <p>
          {% if book.authors_display is iterable %}
              {{ book.authors_display|join('<br/>') }}
          {% else %}
              {{ book.authors|join('<br/>') }}
          {% endif %}
          </p>
      {% endif %}
    </div>

    <img src="images/separador-2.png">
    
    <div class="box">
    {% if book.coordinador_obra %}
        <p><i>Coordinación:</i>
        {% if book.coordinador_obra is iterable %}
            {{ book.coordinador_obra|join('<br/>') }}
        {% else %}
            {{ book.coordinador_obra }}
        {% endif %}
        </p>
    {% endif %}
    </div>
        
    <div class="logos image" markdown="1">

      {% if book.edition_logos %}
        {% set class=(book.edition_logos|length==1 ? "wide" : "narrow") %}
        {% for logo in book.edition_logos %}
            <img src="images/{{ logo }}" class="{{ class }}">
        {% endfor %}
      {% else %}
        <img src="images/logo-omc-ffomc-peq.png" class="wide">
      {% endif %}
      
    </div>

{% endspaceless %}

{% block content %}
    {{ item.content }}
{% endblock %}
</div>
